<!DOCTYPE html>
<html layout:decorate="layouts/defaultLayout">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h2 th:text="${title}"></h2>
<table class="table table-dark" >
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">OrderNo</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Qty</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each ="order : ${orders}">
		<td th:text = "${order.id}"></td>
      	<td th:text = "${order.orderNo}"></td>
      	<td th:text = "${order.productName}"></t>
      	<td th:text = "${order.price}"></td>
      	<td th:text = "${order.quantity}"></td>
    </tr>
  </tbody>
</table>
</body>
</html>